<%- include('../header')%>
<div class="invaiz_section brand">
  <div class="invaiz_content">
    <div class="invaiz_content_item">
      <div class="invaiz_content_maintitle">
        <h1 class="Brand_mainTitle">OVERVIEW</h1>
        <h1 class="Brand_subTitle">
          인바이즈는 2019년 부산에 설립된 하드웨어 스타트업입니다.<br />
          Product를 파는 것이 아닌 Workflow를 제공한다는 가치를 기반으로
          <br />
          브랜드를 구축해나가고 있습니다.<br />
          그런 면에서 인바이즈는 건축적인 요소와 많이 닮아있습니다.<br />
          트러스 구조를 그래픽으로 활용하여<br />
          인바이즈다움을 새롭게 정의합니다.
        </h1>
      </div>
    </div>
  </div>
</div>

<div class="invaiz_section brand">
  <div class="invaiz_content">
    <div class="invaiz_content_item">
      <div class="invaiz_content_maintitle">
        <h1 class="Brand_mainTitle">BRAND NAME</h1>
        <img src="images/brandname.png" alt="" class="brand_img" />
      </div>
    </div>
  </div>
</div>

<div class="invaiz_section brand">
  <div class="invaiz_content">
    <div class="invaiz_content_item">
      <div class="invaiz_content_maintitle">
        <h1 class="Brand_mainTitle">BRAND CORE VALUE</h1>
        <img src="images/brandcorevalue.png" alt="" class="brand_img" />
      </div>
    </div>
  </div>
</div>
<%- include('../footer') %>