<%- include('../header') %>
<!-- HEADER -->

<!-- BRANDING MAIN PAGE -->
<link rel="stylesheet" href="./stylesheets/branding/branding.css" />
<div class="branding-banner banner">ABOUT US</div>
<div class="main">
  <div class="branding-container container">
    <div class="branding-content content">
      <!-- COMMON BRANDING PAGE -->
      <div class="branding-title title">농장소개</div>
      <div class="branding-nav">
        <ul>
          <li class="selected"><a href="./branding?view=intro">농장소개</a></li>
          <li><a href="./branding?view=vision">비전</a></li>
          <li><a href="./branding?view=facility">시설소개</a></li>
          <li><a href="./branding?view=contact_us">오시는 길</a></li>
        </ul>
      </div>
      <!-- COMMON BRANDING PAGE -->

    </div>
  </div>
</div>
<!--BRANDING MAIN PAGE-->
<%- include('../footer') %>
<!-- FOOTER -->