<%- include('../header') %>
<!-- HEADER -->

<!-- BRANDING MAIN PAGE -->
<link rel="stylesheet" href="./stylesheets/branding/branding.css" />
<link rel="stylesheet" href="./stylesheets/branding/intro.css" />
<div class="branding-banner banner">ABOUT US</div>
<div class="main">
  <div class="branding-container container">
    <div class="branding-content content">
      <!-- COMMON BRANDING PAGE -->
      <div class="branding-title title">농장소개</div>
      <div class="branding-nav">
        <ul>
          <li class="selected"><a href="./branding?view=intro">농장소개</a></li>
          <li><a href="./branding?view=vision">비전</a></li>
          <li><a href="./branding?view=facility">시설소개</a></li>
          <li><a href="./branding?view=contact_us">오시는 길</a></li>
        </ul>
      </div>
      <!-- COMMON BRANDING PAGE -->
      <!-- INTRODUCE PAGE -->
      <div class="intro-introduce">
        <div class="introduce-list">
          <div class="introduce-wrap">
            <div class="introduce-text-left">
              <div class="introduce-sub_title">
                안녕하세요.<br>
                합천 최고의 구기자 농장입니다.
              </div>
              <div class="introduce-content">
                농업은 우리 먹거리를 만드는 가치있는 일이자
                <br>
                자연 속에서 건강을 가질 수 있는 기회라고 생각합니다.
              </div>
            </div>
            <div class="introduce-img float-right">
              <img src="./images/branding/img.jpg" alt="">
            </div>
          </div>

          <div class="introduce-wrap">
            <div class="introduce-text-right">
              <div class="introduce-sub_title">
                구기자도 가벼운 먹거리가 될 수 있다고 생각합니다.
              </div>
              <div class="introduce-content">
                그리고 구기자의 가치를 여러 사람들과 공유하고 싶었습니다.
              </div>
            </div>
            <div class="introduce-img float-left">
              <img src="./images/branding/img2.jpg" alt="">
            </div>
          </div>

          <div class="introduce-wrap">
            <div class="introduce-text-left">
              <div class="introduce-sub_title">
                한여름 한겨울에도 구기자의 진가를!
              </div>
              <div class="introduce-content">
                저희 합천 구기자 농장은 예쁜 자동화 온실이 준비되어 있어
                <br>
                한여름 한겨울에도 쾌적한 환경에서 구기자를 경험하실 수 있습니다.
              </div>
            </div>
            <div class="introduce-img float-right">
              <img src="./images/branding/img3.jpg" alt="">
            </div>
          </div>
        </div>
      </div>

      <div class="intro-conclusion">
        <div class="conclusion-text">
          안전한 공간에서 가장 친근한 자연을 경험하실 수 있도록 노력하겠습니다. 감사합니다.
        </div>
        <div class="conclusion-logo">
          <img src="./images/branding/logo.jpg" alt="">
        </div>
      </div>
      <!-- INTRODUCE PAGE -->
    </div>
  </div>
</div>
<!--BRANDING MAIN PAGE-->
<%- include('../footer') %>
<!-- FOOTER -->