<%- include('../header') %>
<!-- HEADER -->

<!-- BRANDING MAIN PAGE -->
<link rel="stylesheet" href="./stylesheets/branding/branding.css" />
<link rel="stylesheet" href="./stylesheets/branding/vision.css" />
<div class="branding-banner banner">ABOUT US</div>
<div class="main">
  <div class="branding-container container">
    <div class="branding-content content">
      <!-- COMMON BRANDING PAGE -->
      <div class="branding-title title">비전</div>
      <div class="branding-nav">
        <ul>
          <li><a href="./branding?view=intro">농장소개</a></li>
          <li class="selected"><a href="./branding?view=vision">비전</a></li>
          <li><a href="./branding?view=facility">시설소개</a></li>
          <li><a href="./branding?view=contact_us">오시는 길</a></li>
        </ul>
      </div>
      <!-- COMMON BRANDING PAGE -->

      <!-- VISION PAGE -->
      <div class="vision-area branding-area">
        <div class="vision-logo-box">
          <img src="./images/branding/product1.jpg" alt="" class="vision-logo logo-english">
          <img src="./images/branding/product2.jpg" alt="" class="vision-logo logo-korean">
        </div>
        <div class="vision-content-box">
          <div class="vision-image-box">
            <p class="vision-image"><img src="./images/branding/growth.jpg"></p>
            <strong class="vision-title">생산</strong>
            <p class="vision-text">두근거리고 설레이는 자연 공간</p>
          </div>
          <p class="vision-plus"><img src="./images/branding/icon_plus.jpg"></p>
          <div class="vision-image-box">
            <p class="vision-image"><img src="./images/branding/box.svg"></p>
            <strong class="vision-title">가공</strong>
            <p class="vision-text">건강하고 맛있는 손길</p>
          </div>
          <p class="vision-plus"><img src="./images/branding/icon_plus.jpg"></p>
          <div class="vision-image-box">
            <p class="vision-image"><img src="./images/branding/delivery.svg"></p>
            <strong class="vision-title">배송</strong>
            <p class="vision-text">빠르고 안전한 배송</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--BRANDING MAIN PAGE-->
<%- include('../footer') %>
<!-- FOOTER -->