*{margin:0;padding: 0;}
.brand{ background-color: black;color :white;  }
.Brand_mainTitle{color:gray; margin-bottom: 50px; font-weight: lighter; font-size:27px;}
.Brand_subTitle{font-weight: lighter;line-height: 34px; font-size:17.5px;}
