.intro-introduce {
    margin-top: 150px;
  }
  
  .introduce-wrap{
    width: 90%;
    height: 600px;
    margin: 0 auto;
  }
  
  .introduce-text-left{
    position: relative;
    top: 120px;
    float: left;
  }
  
  .introduce-text-right{
    position: relative;
    top: 120px;
    float: right;
  }
  
  .introduce-sub_title{
    font-size: 2.5em;
    font-weight: bold;
  }
  
  .introduce-content{
    margin-top: 20px;
    font-size: 1.8em;
    color: #777;
  }
  
  .intro-conclusion{
    margin-top: 200px;
    text-align: center;
  }
  
  .conclusion-text{
    font-size: 1.4em;
    font-weight: bold;
  }
  
  .conclusion-logo{
    margin-top: 50px;
  }
@media (max-width: 768px) {
  .introduce-img img {
    width: 100%;
  }
  .introduce-wrap {
    margin-bottom: 100px;
  }
  .introduce-wrap > div {
    float: none;
    top: 0;
  }
}