<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/management/main.css" />
  <link rel="stylesheet" href="/stylesheets/management/layout.css">
</head>

<body>
  <div class="container">
    <nav class="nav-box">
      <div class="nav_logo-box">
        <a href="/admin/main" class='nav_logo'> <img src="/images/management/logo_white.svg" alt="로고에러" /></a>
      </div>
      <div class="nav-contents">
        <div class="nav-contents_title">
          페이지 관리
        </div>
        <ul class="nav-contents_list">
          <li class='nav-contents_item'><a class='nav-contents_item_link' href="/admin/notice">공지사항 관리</a></li>
          <li class='nav-contents_item'><a class='nav-contents_item_link' href="">커뮤니티 관리</a></li>
          <li class='nav-contents_item'><a class='nav-contents_item_link' href="">다운로드 관리</a></li>
          <li class='nav-contents_item'><a class='nav-contents_item_link' href="">반품/환불 관리</a></li>
          <li class='nav-contents_item'><a class='nav-contents_item_link' href="">FAQ/문의하기 관리</a></li>
        </ul>
        <div class="nav-contents_title">
          포스트 관리
        </div>
        <ul class="nav-contents_list">
          <li class='nav-contents_item'><a class='nav-contents_item_link' href="">홈관리</a></li>
          <li class='nav-contents_item'><a class='nav-contents_item_link' href="">제품 관리</a></li>
          <li class='nav-contents_item'><a class='nav-contents_item_link' href="">예약 관리</a></li>
        </ul>
      </div>
    </nav>
    <div class="section">
      <div class="section_title">
        INVAIZ 관리자님 환영합니다
      </div>
      <div class="section_logo">
        <img src="/images/management/section_logo.svg" alt="" />
      </div>
    </div>
  </div>
  </div>
  <script src=" /javascripts/admin/notice.js"></script>
</body>

</html>