
  .banner_box {
    padding-top: 100px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .product_box {
    padding-top: 50px;
    width: 1024px;
    margin: 0 auto;
    text-align: center;
  }
  
  .banner-image {
    width: 100%;
  }
  
  .product-title_box {
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 50px;
  }
  
  .product-title-hr {
    margin-top: 20px;
  }
  
  /*제품 박스*/
  .product-element {
    width: 30%;
    display: inline-block;
    padding: 0 10px 50px 10px;
  }
  
  .product-image {
    width: 100%;
    /* height: 100%; */
  }
  
  .product-element-content {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }
  
  .product_category {
    padding-bottom: 50px;
  }