@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nanum Gothic', sans-serif;
  word-break: keep-all;
}
/*헤더 css*/
.header-box {
  width: 100%;
  height: 100px;
  background-color: #29c389;
}
.header-box img {
  margin-left: 80px;
}

.login-box {
  max-width: 500px;
  width: 95%;
  margin: 150px auto;
}

/*로그인 폼 css*/
.login-title_box {
  width: 100%;
  height: 80px;
  font-size: 42.5px;
  border-bottom: 2px solid #29c389;
}
.login-content_box {
  margin-top: 50px;
  width: 100%;
}
.input_style {
  font-size: 18.5px;
  font-weight: bold;
  box-sizing: border-box;
  border: 2px solid #29c389;
  padding: 5px; 
  width: 100%;
  height: 50px;
  display: block;
  margin:10px 0 10px 0;
}
.sbm_button {
  width: 100%;
  height: 46px;
  margin-top: 20px;
  border: none;
  background-color: #29c389;
  color: white;
}
