<%- include('../header')%>
<!-- HEADER -->
<link rel="stylesheet" href="./stylesheets/calendar.css" />
<div class="main">
    <div class="content timeline">
        <div class="my-calendar clearfix">
            <div class="clicked-date">
                <div class="cal-day"></div>
                <div class="cal-date"></div>
            </div>
            <div class="calendar-box">
                <div class="ctr-box clearfix">
                    <button type="button" title="prev" class="btn-cal prev">
                    </button>
                    <span class="cal-month"></span>
                    <span class="cal-year"></span>
                    <button type="button" title="next" class="btn-cal next">
                    </button>
                </div>
                <table class="cal-table">
                    <thead>
                        <tr>
                            <th>일</th>
                            <th>월</th>
                            <th>화</th>
                            <th>수</th>
                            <th>목</th>
                            <th>금</th>
                            <th>토</th>
                        </tr>
                    </thead>
                    <tbody class="cal-body"></tbody>
                </table>
            </div>
        </div>
        <!-- // .my-calendar -->
        <div class="schedule">
            <div class="schedule-wrap">
                <div class="schedule-content">
                    <form id="schedule-form" action="" method="post">
                        <h3>오늘의 농장</h3>
                        <h4>Contact us for custom quote</h4>
                        <fieldset>
                          <input placeholder="제목" type="text" tabindex="1" required autofocus>
                        </fieldset>
                        <fieldset>
                          <textarea placeholder="Type your message here...." tabindex="2" required></textarea>
                        </fieldset>
                        <fieldset>
                          <button name="submit" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
                        </fieldset>
                      </form>
                </div>
            </div>
        </div>
    </div>
</div>
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<script src="./javascripts/calendar.js"></script>
<%- include('../footer') %>
<!-- FOOTER -->
</body>

</html>