<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="stylesheets/main.css" />
  <link rel="stylesheet" href="stylesheets/menu.css" />
  <link rel="stylesheet" href="stylesheets/brand.css" />
  <link rel="stylesheet" href="stylesheets/media.css" />
  <link rel="stylesheet" href="stylesheets/header.css" />
  <link rel="stylesheet" href="stylesheets/footer.css">

  <script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="javascripts/mobile.js"></script>
  <title>INVAIZ</title>
</head>

<body>
  <div class="invaiz_container">
    <%- include('header')%>
    <div class="invaiz_section brand">
      <div class="invaiz_content">
        <div class="invaiz_content_item">
          <div class="invaiz_content_maintitle">
            <h1 class="Brand_mainTitle">OVERVIEW</h1>
            <h1 class="Brand_subTitle">
              인바이즈는 2019년 부산에 설립된 하드웨어 스타트업입니다.<br />
              Product를 파는 것이 아닌 Workflow를 제공한다는 가치를 기반으로
              <br />
              브랜드를 구축해나가고 있습니다.<br />
              그런 면에서 인바이즈는 건축적인 요소와 많이 닮아있습니다.<br />
              트러스 구조를 그래픽으로 활용하여<br />
              인바이즈다움을 새롭게 정의합니다.
            </h1>
          </div>
        </div>
      </div>
    </div>

    <div class="invaiz_section brand">
      <div class="invaiz_content">
        <div class="invaiz_content_item">
          <div class="invaiz_content_maintitle">
            <h1 class="Brand_mainTitle">BRAND NAME</h1>
            <img src="images/brandname.png" alt="" class="brand_img" />
          </div>
        </div>
      </div>
    </div>

    <div class="invaiz_section brand">
      <div class="invaiz_content">
        <div class="invaiz_content_item">
          <div class="invaiz_content_maintitle">
            <h1 class="Brand_mainTitle">BRAND CORE VALUE</h1>
            <img src="images/brandcorevalue.png" alt="" class="brand_img" />
          </div>
        </div>
      </div>
    </div>
    <%- include('footer') %>
  </div>

  <div class="nav-button " onclick="toggleButton2(this);">
    <div class="nav-button-box">
      <div class="nav-button-element top branding"></div>
      <div class="nav-button-element mid branding"></div>
      <div class="nav-button-element bottom branding"></div>
    </div>
  </div>
  <div class="invaiz_mobile_menu menu_off" id="navbox">
    <div class="invaiz_mobile_item">
      <div class="invaiz_mobile_box">
        <a href="/" class="mobile_link">
          <h1 style="color:white">Home</h1>
        </a>
        <a href="/branding" class="mobile_link">
          <h1 style="color:white">Branding</h1>
        </a>
        <a href="/product" class="mobile_link">
          <h1 style="color:white">Product</h1>
        </a>
        <a href="/reserve" class="mobile_link">
          <h1 style="color:white">Reserve</h1>
        </a>
      </div>
    </div>
  </div>
</body>

</html>