<div class="content_footer">
  <p>
    INVAIZ INTERNATIONAL INDUSTRIES<br />
    경상남도 합천군 율곡면 제내리 제내 4길 7-2<br />
    사업자 번호 : 294-41-00495 대표 : 박명환<br />
    ⓒ 2019 INVAIZ Co. all rights reserved
  </p>
</div>
