<div class="content_footer">
  <p>
    INVAIZ INTERNATIONAL INDUSTRIES<br />
    부산광역시 사하구 낙동대로 590번길 37(하단동) 동아대학교 산학연구관(S14)
    504호<br />
    사업자 번호 : 294-41-00495 대표 : 이준석<br />
    ⓒ 2019 INVAIZ Co. all rights reserved
  </p>
</div>
