<%- include('header')%>
<!-- HEADER -->

<!-- INDEX MAIN PAGE -->
<link rel="stylesheet" href="stylesheets/index.css" />
<div class="main">
  <div class="main-container container">
    <div class="cover background-img">
      <div class="main-content content">
        <section class="introduce">
          <div class="title">Introduce</div>
          <div class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<p></p>
            Quaerat blanditiis nihil cupiditate.<p></p>
            Ex repellat natus, quia provident cum praesentium dicta sequi amet officia ut minus reiciendis
            nesciunt<p></p>
            distinctio illo iure optio,<p></p>
            at voluptas totam. Voluptates nemo accusamus eos optio deleniti nisi, mollitia laboriosam modi
            quidem.<p></p>
          </div>
          <a href="#" class="button">Hover Me!</a>
        </section>
      </div>
    </div>
    <div class="cover process-cover">
      <div class="main-content content">
        <section class="process">
          <div class="title">Process</div>
          <div class="sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit.</div>
          <div class="text">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.<p></p>
            Iure sapiente placeat error voluptatibus, explicabo deserunt nisi vel molestiae voluptates<p></p>
            vero dicta inventore pariatur blanditiis repudiandae minus magnam aliquid nesciunt porro!<p></p>
            Impedit unde laboriosam laborum. Quidem nesciunt eligendi odio maxime ea.<p></p>
          </div>
        </section>
        <section class="process-table">
          <table style="margin-left: auto; margin-right: auto;">
            <tr>
              <td class="table-icon"><img src="images/tree.svg"></td>
              <td><img src="images/next.svg"></td>
              <td class="table-icon"><img src="images/box.svg"></td>
              <td><img src="images/next.svg"></td>
              <td class="table-icon"><img src="images/delivery.svg"></td>
            </tr>
            <tr>
              <td>Growth</td>
              <td></td>
              <td>Product</td>
              <td></td>
              <td>Delivery</td>
            </tr>
          </table>
        </section>
      </div>
    </div>

    <div class="cover service-img">
      <div class="main-content content">
        <section class="service">
          <div class="title">Service</div>
          <div class="text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.<p></p>
            Vel nam aspernatur voluptatibus totam,<p></p>
            voluptates, nesciunt, tenetur nulla reprehenderit<p></p>
            doloremque ex illo optio cupiditate aliquid id<p></p>
            officiis a vero commodi dicta.<p></p>
          </div>
          <a href="#" class="button">Hover Me!</a>
        </section>
      </div>
    </div>
  </div>
</div>
<!-- INDEX MAIN PAGE -->
<%- include('footer') %>
<!-- FOOTER -->