    <div class="invaiz_container">
        <%- include('header')%>
        <div class="banner_box">
            <img src="images/slide1.jpg" class="banner-image" alt="" />
          </div>
          <div class="product_box">
            <div class="product_category">
              <div class="product-title_box">
                농장 제철 상품
                <hr class="product-title-hr" />
              </div>
              <div class="product-element">
                <img src="images/apple.jpg" class="product-image" alt="" />
                <div class="product-element-content">
                  수달래 유기농 사과 4.5Kg 24과 <br />
                  푸른초장농원 산지직배송<br />
                  <strong>67000원</strong>
                </div>
              </div>
              <div class="product-element">
                <img src="images/apple.jpg" class="product-image" alt="" />
                <div class="product-element-content">
                  수달래 유기농 사과 4.5Kg 24과 <br />
                  푸른초장농원 산지직배송<br />
                  <strong>67000원</strong>
                </div>
              </div>
              <div class="product-element">
                <img src="images/apple.jpg" class="product-image" alt="" />
                <div class="product-element-content">
                  수달래 유기농 사과 4.5Kg 24과 <br />
                  푸른초장농원 산지직배송<br />
                  <strong>67000원</strong>
                </div>
              </div>
              <div class="product-element">
                <img src="images/apple.jpg" class="product-image" alt="" />
                <div class="product-element-content">
                  수달래 유기농 사과 4.5Kg 24과 <br />
                  푸른초장농원 산지직배송<br />
                  <strong>67000원</strong>
                </div>
              </div>
              <div class="product-element">
                <img src="images/apple.jpg" class="product-image" alt="" />
                <div class="product-element-content">
                  수달래 유기농 사과 4.5Kg 24과 <br />
                  푸른초장농원 산지직배송<br />
                  <strong>67000원</strong>
                </div>
              </div>
              <div class="product-element">
                <img src="images/apple.jpg" class="product-image" alt="" />
                <div class="product-element-content">
                  수달래 유기농 사과 4.5Kg 24과 <br />
                  푸른초장농원 산지직배송<br />
                  <strong>67000원</strong>
                </div>
              </div>
            </div>
          </div>
    <%- include('footer') %>
    </div>

    <div class="nav-button" onclick="toggleButton(this);">
        <div class="nav-button-box">
            <div class="nav-button-element top">

            </div>
            <div class="nav-button-element mid">

            </div>
            <div class="nav-button-element bottom">

            </div>
        </div>
    </div>
    <div class="invaiz_mobile_menu menu_off" id="navbox">
        <div class="invaiz_mobile_item">
            <div class="invaiz_mobile_box">
                <a href="/" class="mobile_link">
                    <h1 style="color:white">Home</h1>
                </a>
                <a href="/branding" class="mobile_link">
                    <h1 style="color:white">Branding</h1>
                </a>
                <a href="/product" class="mobile_link">
                    <h1 style="color:white">Product</h1>
                </a>
                <a href="/reserve" class="mobile_link">
                    <h1 style="color:white">Reserve</h1>
                </a>
            </div>
        </div>
    </div>
</body>

</html>