.clearfix:after {
  content: '';
  display: block;
  clear: both;
  float: none;
}

/* ======== Calendar ======== */
.my-calendar {
  width: 50%; height: 800px;
  padding: 20px 20px 10px;
  border: 1px solid #ddd;
  text-align: center;
  font-weight: 800;
  cursor: default;
  box-sizing: border-box;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  float: left;
}
.my-calendar .clicked-date {
  border-radius: 25px;
  padding: 40px 0 20px;
  background: #ddd;
}
 
.clicked-date .cal-day {
  font-size: 2em;
}
.clicked-date .cal-date {
  font-size: 15em;
}

.ctr-box {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 2.5em;
  line-height: 35px;
}
.ctr-box .btn-cal {
  position: relative;
  float: left;
  width: 25px; height: 25px;
  margin-top: 5px;
  font-size: 1em;
  cursor: pointer;
  border: none;
  background: none;
}
.ctr-box .btn-cal:after {
  content: '<';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  line-height: 25px;
  font-weight: bold;
}
.ctr-box .btn-cal.next {
  float: right;
}
.ctr-box .btn-cal.next:after {
  content: '>';
}

.cal-table {
  width: 100%;
  font-weight: 100;
}
.cal-table th {
  width: 14.2857%;
  padding-bottom: 5px;
  font-size: 1.4em;
  font-weight: 900;
}
.cal-table td {
  padding: 3px 0;
  height: 50px;
  box-sizing: border-box;
  font-size: 1.32em;
  vertical-align: middle;
}
.cal-table td.day {
  position: relative;
  cursor: pointer;
}
.cal-table td.day::before {
  content: '';
  position: absolute;
  top: 0;left: 0;right: 0;bottom: 0;
  margin: auto;
  max-width: 0; max-height: 0;
  border-radius: 50%;
  opacity: 0.6;
  transition: max-width, max-height .3s;
}
.cal-table td.day:hover::before {
  border: solid 2px #29c389;
  max-width: 40px; max-height: 40px;
}
.cal-table td.today::before {
  background: #ffd255;
  max-width: 40px; max-height: 40px;
}
.cal-table td.day-active::before {
  background: #ff8585;
  max-width: 40px; max-height: 40px;
}
.cal-table td.save::before {
  background: #29c389;
  max-width: 40px; max-height: 40px;
}
.cal-table td.save::after {
  content: '';
  position: absolute;
  left: 0;right: 0; bottom: 15px;
  margin: auto;
  border-radius: 50%;
  width: 3px; height: 3px;
  background-color: #fff;
}
.cal-table td.has-event:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: #FFC107;
}

@media (max-width: 1024px) {
  .cal-table td { height: 40px; }
  .ctr-box { margin-bottom: 15px; }
}

@media (max-width: 768px) {
  .cal-table td { height: 30px; }
  .ctr-box { margin-bottom: 10px; }
}