.diary-banner {
    background-image: url(/images/branding/sub_visual1.jpg);
}

@media (max-width: 1024px) {
    .diary-content .my-calendar, .diary-content .schedule {
        width: 100%; height: 100%;
        float: none;
    }
}