.header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 1000;
  line-height: 100px;
  background-color: transparent;
  transition: all 0.5s;
}
.header.drop {
  background-color: #29c389;
  height: 65px;
  line-height: 65px;
}
.header-container {
  margin: 0 auto;
  position: relative;
  width: 80%;
  max-width: 1374px;
  height: 100%;
}
.header-logo {
  position: absolute;
  width: 180px;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
}
.header-nav {
  margin: 0;
  float: right;
  list-style: none;
}

.header-nav-element {
  display: inline-block;
  margin-right: 65px;
}
.header-nav-element:last-child {
  margin: 0;
}
.header-nav-element a {
  font-weight: bold;
  display: block;
  text-decoration: none;
  color: #fff;
}
.header-nav-element a span {
  position: relative;
  font-size: 1.8em;
}
.header-nav-element a:hover {
  color: #29c389;
  font-weight: bold;
}
.header-nav-element a:hover span:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  background: #29c389;
  width: 100%;
  bottom: -9px;
}
.header.drop .header-nav-element a:hover {color: #000;}
.header.drop .header-nav-element a:hover span:after {background: #000;}


@media (max-width: 768px) {
  .header-nav-box {
    display: none;
  }
}