<%- include('../header') %>
<!-- HEADER -->

<!-- PRODUCT MAIN PAGE -->
<link rel="stylesheet" href="stylesheets/product/product.css" />
<div class="product-banner banner">PRODUCT</div>
<div class="main">
  <div class="product-container container">
    <div class="product-content content">
      <!-- COMMON PRODUCT PAGE -->
      <div class="product-title">제품소개</div>
      <div class="product-nav">
        <ul>
          <li class="selected"><a href="">구기자 원액</a></li>
          <li><a href="">구기자 발효액</a></li>
          <li><a href="">구기자 즙</a></li>
          <li><a href="">배즙</a></li>
        </ul>
      </div>
      <!-- COMMON PRODUCT PAGE -->
      <div class="product-area">
        <div class="product-element">
          <img src="./images/product.jpg" class="product-image" alt="" />
          <div class="product-element-content">
            수달래 유기농 사과 4.5Kg 24과 <br />
            푸른초장농원 산지직배송<br />
            <strong>67000원</strong>
          </div>
        </div>
        <div class="product-element">
          <img src="./images/product.jpg" class="product-image" alt="" />
          <div class="product-element-content">
            수달래 유기농 사과 4.5Kg 24과 <br />
            푸른초장농원 산지직배송<br />
            <strong>67000원</strong>
          </div>
        </div>
        <div class="product-element">
          <img src="./images/product.jpg" class="product-image" alt="" />
          <div class="product-element-content">
            수달래 유기농 사과 4.5Kg 24과 <br />
            푸른초장농원 산지직배송<br />
            <strong>67000원</strong>
          </div>
        </div>
        <div class="product-element">
          <img src="./images/product.jpg" class="product-image" alt="" />
          <div class="product-element-content">
            수달래 유기농 사과 4.5Kg 24과 <br />
            푸른초장농원 산지직배송<br />
            <strong>67000원</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PRODUCT MAIN PAGE -->
<%- include('../footer') %>
<!-- FOOTER -->