<%- include('../header')%>
<!-- HEADER -->

<!-- PRODUCT MAIN PAGE -->
<link rel="stylesheet" href="stylesheets/product/product.css" />
<div class="main">

  <div class="product-banner banner">
    PRODUCT
  </div>
  <div class="product-container container">
    <div class="product-content content">
      <div class="product_category">
        <div class="product-title_box">
          농장 제철 상품
          <hr class="product-title-hr" />
        </div>
        <div class="product-element">
          <img src="images/apple.jpg" class="product-image" alt="" />
          <div class="product-element-content">
            수달래 유기농 사과 4.5Kg 24과 <br />
            푸른초장농원 산지직배송<br />
            <strong>67000원</strong>
          </div>
        </div>
        <div class="product-element">
          <img src="images/apple.jpg" class="product-image" alt="" />
          <div class="product-element-content">
            수달래 유기농 사과 4.5Kg 24과 <br />
            푸른초장농원 산지직배송<br />
            <strong>67000원</strong>
          </div>
        </div>
        <div class="product-element">
          <img src="images/apple.jpg" class="product-image" alt="" />
          <div class="product-element-content">
            수달래 유기농 사과 4.5Kg 24과 <br />
            푸른초장농원 산지직배송<br />
            <strong>67000원</strong>
          </div>
        </div>
        <div class="product-element">
          <img src="images/apple.jpg" class="product-image" alt="" />
          <div class="product-element-content">
            수달래 유기농 사과 4.5Kg 24과 <br />
            푸른초장농원 산지직배송<br />
            <strong>67000원</strong>
          </div>
        </div>
        <div class="product-element">
          <img src="images/apple.jpg" class="product-image" alt="" />
          <div class="product-element-content">
            수달래 유기농 사과 4.5Kg 24과 <br />
            푸른초장농원 산지직배송<br />
            <strong>67000원</strong>
          </div>
        </div>
        <div class="product-element">
          <img src="images/apple.jpg" class="product-image" alt="" />
          <div class="product-element-content">
            수달래 유기농 사과 4.5Kg 24과 <br />
            푸른초장농원 산지직배송<br />
            <strong>67000원</strong>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PRODUCT MAIN PAGE -->
<%- include('../footer') %>
<!-- FOOTER -->