<%- include('../header') %>
<!-- HEADER -->

<!-- PRODUCT MAIN PAGE -->
<link rel="stylesheet" href="stylesheets/product/product.css" />
<div class="product-banner banner">PRODUCT</div>
<div class="main">
  <div class="product-container container">
    <div class="product-content content">
      <!-- COMMON PRODUCT PAGE -->
      <div class="product-title title">제품소개</div>
      <div class="product-nav">
        <ul>
          <li class="selected"><a href="">구기자 원액</a></li>
          <li><a href="">구기자 발효액</a></li>
          <li><a href="">구기자 즙</a></li>
          <li><a href="">배즙</a></li>
        </ul>
      </div>
      <!-- COMMON PRODUCT PAGE -->
      <div class="product-area">
        <div class="product-element">
          <div class="product-element-wrap">
            <img src="./images/product.jpg" class="product-image" alt="" />
            <div class="product-element-content">
              구기자 원액 액기스 700ml <br />
              합천 구기자 농장 산지직송<br />
              <strong>67000원</strong>
            </div>
          </div>
        </div>
        <div class="product-element">
          <div class="product-element-wrap">
            <img src="./images/product.jpg" class="product-image" alt="" />
            <div class="product-element-content">
              구기자 원액 액기스 700ml <br />
              합천 구기자 농장 산지직송<br />
              <strong>67000원</strong>
            </div>
          </div>
        </div>
        <div class="product-element">
          <div class="product-element-wrap">
            <img src="./images/product.jpg" class="product-image" alt="" />
            <div class="product-element-content">
              구기자 원액 액기스 700ml <br />
              합천 구기자 농장 산지직송<br />
              <strong>67000원</strong>
            </div>
          </div>
        </div>
        <div class="product-element">
          <div class="product-element-wrap">
            <img src="./images/product.jpg" class="product-image" alt="" />
            <div class="product-element-content">
              구기자 원액 액기스 700ml <br />
              합천 구기자 농장 산지직송<br />
              <strong>67000원</strong>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- PRODUCT MAIN PAGE -->
<%- include('../footer') %>
<!-- FOOTER -->