<!-- SCHEDULE AREA -->
<link rel="stylesheet" href="./stylesheets/diary/schedule.css" />
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
<div class="schedule">
    <div class="schedule-wrap">
        <div class="schedule-content">
            <form id="schedule-form" action="/" method="get">
                <h3>오늘의 농장</h3>
                <h4>Contact us for custom quote</h4>
                <div class="schedule-title" id="title"></div>
                <div id="quillJS">
                    <div class="ql-editor">

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- SCHEDULE AREA -->