#calendar {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: #29c389;
    color: #fff;
}
.calendar-wrap {
    padding: 50px 0;
    background-color: #fff;
}

.timeline {}
.schedule {}
.schedule-wrap {}
.schedule-content {}