<link rel="stylesheet" href="/stylesheets/support/notice_content.css">
<link rel="stylesheet" href="/stylesheets/support/support_header.css">
<link rel="stylesheet" href="/stylesheets/support/support.css">

<div class="invaiz_support_header">
  <div class="invaiz_support_header_nav_box">
    <ul class='invaiz_support_header_nav'>
      <li class="invaiz_support_header_nav_list"><a href="#">공지사항</a></li>
      <!-- <li class="invaiz_support_header_nav_list"><a href="#">커뮤니티</a></li>
      <li class="invaiz_support_header_nav_list"><a href="#">다운로드</a></li>
      <li class="invaiz_support_header_nav_list"><a href="#">반품/환불</a></li> -->
      <!-- <li class="invaiz_support_header_nav_list" style="margin: 0;"><a href="#">문의하기</a></li> -->
    </ul>
  </div>
</div>