<%- include('../header') %>
<!-- HEADER -->

<!-- TIMELINE MAIN PAGE -->
<link rel="stylesheet" href="./stylesheets/timeline/timeline.css" />
<div class="timeline-banner banner">TIMELINE</div>
<div class="main">
    <div class="timeline-container container">
        <div class="timeline-content content">
        </div>
    </div>
</div>
<!-- TIMELINE MAIN PAGE -->
<%- include('../footer') %>
<!-- FOOTER -->